@model VasaHotel.Models.Booking

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div>
    <div style="text-align: center;">
        <h3>Booking details</h3>
        <h5>Customer_<span>    @Html.DisplayFor(model => model.Customer.customer_id)</span></h5>
    </div>
   
    <hr />
    <dl class="row">
        <div class="col-sm-6">

            <img src="~/image/hero/hero-3.jpg"  height="549px" />
        </div>
        <div class="col-sm-6">
            <div class="row">
        <dt class="col-sm-4">
            Checkin day
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.checkin_day)
        </dd>
        <dt class="col-sm-4">
            Checkout day
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.checkout_day)
        </dd>
        <dt class="col-sm-4">
            Payment methods
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.method_payment)
        </dd>
        <dt class="col-sm-4">
            Payment status
        </dt>
        <dd class="col-sm-8">
            @{
                string paymentStatus = Model.is_payment == false ? "unpaid" : "paid";
            }

            <p> @paymentStatus</p>
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
        <dt class="col-sm-4">
            Total price
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.total_price)
        </dd>
      
        <h7 style="width: 100%">Image of rooms</h7>
        <br></br>
        <div style="width: 100%">
            <img src="~/Upload/Images/@Model.Room.ImageName" style="width: 300px;height: 300px; border-radius: 5px"  />
        </div>
       
        <br><br />
            <div style="width: 100%;margin-top: 20px">
                <button class="button-accept" data-toggle="modal" data-target="#exampleModal">
                    Accept
                </button>
            </div>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        You have successfully booked your room! Thank you for trusting and using our services.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       
                        <a  href="/Home" class="button-home">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
        @*<div>

            <button asp-action="Index" class="button-accept">Accept</button>
        </div>*@

</div>
       
</div>

      
    </dl>
</div>


<style>
    .button-accept {
        border-radius: 5px;
        padding: 10px;
        background-color: pink;
        color: white;
        font-weight: 700;
        letter-spacing: 2px;
    }
        .button-accept:hover {
            background: #ed546e
        }
    .button-home {
        border-radius: 5px;
        padding: 10px;
        background-color: deepskyblue;
        color: white;
        font-weight: 700;
        letter-spacing: 2px;
    }

        .button-home:hover {
            background: blue;
        }
</style>